@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	margin: 0;
    padding: 0;
}

html,
body,
#root {
	height: 100%;
}

a {
	text-decoration: none;
	color: #8a1f1f;
	font-size: 20px;
	font-weight: 400;
}
